.searchbar-container {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbar-form {
  width: 90%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 1rem;
}
.searchbar {
  width: 90%;
  border: none;
  height: 2.5rem;
  background-color: rgb(29, 29, 29);
  color: white;
}
.Link {
  text-decoration: none;
}

.searchbar:focus {
  border: none;
  outline: none;
}
.searchbar:active {
  border: none;
}

.search-btn {
  width: 20px;
  background-color: inherit;
  fill: white;
}
